
<div class="welcome">
  <div class="valign-wrapper">
    <div class="row">
      <div class="col s12">

        <h3 class="valign waves-effect waves-light btn-large"><%= link_to 'Prost', new_post_path %></h3>

      </div>
    </div>
  </div>
</div>
