
<div class="welcome">
  <div class="container">
    <div class="row">
      <div class="col s12">

        <h3 class="centered btn-large"><%= link_to 'Prost!', beers_path %></h3>

      </div>
    </div>
  </div>
</div>
