<h1>Beers from <%= @brewery_name.name %> </h1>

<div class="collection">
 <% @brewery.each do |beer| %>
    <p class="collection-item active"><%= beer.name %></p>
    <p class="collection-item"><%= beer.id %></p>
    <p class="collection-item"><%= beer.abv %></p>

  <% end %>
</div>
