<div class="container">
  <div class="row">


        <h4>Create new beer entry!</h4>

        <%= render 'form' %><br>

        <%= link_to 'Back', posts_path, class: 'btn'%>

    </div>
  </div>
</div>
