@import "materialize/components/color";
$primary-color: color("light-blue", "lighten-2") !default;
@import "materialize";

.ilike-blue-container {
  @extend .light-blue, .lighten-2;
}
.welcome {
  /* Location of the image */
  background-image: url('background_photo.jpg');

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;
}

a {
  color: white;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
